.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;

}
.homeContainer-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  max-width: 1398px;
  width: 100%;
}
/* Left Section - Image and Text */
.left-section {
  /* flex: 1; */
  display: flex;
  /* position: relative; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.career-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  object-fit: cover;
  margin-top: 10px;
}

.text-overlay {
  color: #000;
  /* color: #FBEAEB; */
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.1;
}

/* Right Section - Auth Card */
.right-section {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}

.auth-card {
  width: 50%;
  max-width: 290px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 2rem;
  border-radius: 36px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.auth-card:hover{
  
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

    transform: scale(1.009);
    z-index: 1;
}
.auth-card h2 {
  margin-bottom: 1rem;
  text-align: center;
  color: #FBEAEB;

}

.register p {
  font-size: 24px;
  font-weight: 600;
  position: relative;
}
.register p::before{
  content: "";
  background: yellow;
  height: 2px;
  width: 46px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
}
.register p::after{
  content: "";
    background: yellow;
    height: 2px;
    width: 22px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -18px;
}

.register p span{
  color: yellow;
}

.input-group {
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

.input-group label {
  font-weight: 400;
  font-size: 16px;
  color: #000;

}


.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
  

.btn-primary, .btn-secondary {
  width: 100%;
  padding: 0.75rem;
  margin-top: 1rem;
  cursor: pointer;
  font-weight: bold;
  border: none;
  border-radius: 4px;
}

.btn-primary {
  background-color: #0062FF;
  color: #fff;
}

.btn-secondary {
  background-color: darkblue;
  color: #fff;
}

.btn-link {
  background: none;
  border: none;
  color: yellow;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  font: inherit;
}

p {
  text-align: center;
  margin-top: 1rem;
}
